.areaButtons {
    width: 100%;
    padding: 1rem 2rem;
    background-color: #70B9BE;
    color: #FFFFFF;
    text-decoration: none;
    border: none;
    margin: 0.3rem;
    border-radius: 50px;
    font-size: 16px;

}

.seeAllButton {
    color: rgb(61, 160, 167, 1);
    border: none;
    text-decoration: none;
    font-weight: bolder;
}

.catButton {
    text-decoration: none;
    margin-bottom: 5rem;
}