.threeButtons {
    padding: 0.5rem 1rem;
    background-color: #F1F5F5;
    border: none;
    margin: 0.3rem;
    border-radius: 20px;
}

.homeAreaWrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.homeCatWrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.areaButtonsWrapper {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
}

.catButtonWrapper {
    display: flex;
    justify-content: flex-start;
    width: 90%;
    overflow: scroll;
}