.threeButtons {
    padding: 0.5rem 1rem;
    background-color: #F1F5F5;
    border: none;
    margin: 0.3rem;
    border-radius: 20px;
}

.homeAreaWrapper {
    margin-top: 1rem;
    /* margin-bottom: 2rem; */
    height: 40px;
}

.homeCatWrapper {
    margin-top: 2rem;
    /* margin-bottom: 2rem; */
    height: 40px;
}

.areaButtonsWrapper {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
}

.catButtonWrapper {
    display: flex;
    justify-content: flex-start;
    width: 200%;
    height: 250px;
    overflow: scroll;

}

.all_buttons {
    width: 100%;
    text-decoration: none;
    text-align: center;
    padding: 1rem;
    background-color: #70B9BE;
    border-radius: 25px;
    color: #fafafa;
    border: none;
}